<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans>
    <bean id="rateLimiter">
        <construct-arg ref="redisCounter"/>
    </bean>

    <bean id="redisCounter" scppe="singleton" lazy-init="true">
        <construct-arg type="String" value="127.0.01"/>
        <construct-arg type="int" value=1234/>
    </bean>
</beans>